
// Pipeline Config:
$HOSTNAME='default'
docker {
    enabled = true
}

executor {
    cpus = 1
    memory = '1 GB'
}

aws {
    accessKey = "" //* @input @title:"Amazon AWS Batch settings" @description:"Amazon access key"
    secretKey = "" //* @input @description:"Amazon secret key"
    region = "us-east-1" //* @input @description:"Amazon region"
    //* @style @multicolumn:{accessKey,secretKey,region}
    batch {
        cliPath = '/home/ec2-user/miniconda/bin/aws'
	// 
    }
    client {
        maxConnections = 4
    }
}

process {
    executor = 'awsbatch'
    queue = 'ICGC-header' //* @input @description:"AWS Batch queue"
    memory = '1 GB'
    cpus = 1
    container = 'ubuntu'

}
// Run Parameters:

params {
  max_cpus = 1
  max_memory = '1 GB'
  max_time = '2h'
  outdir = 's3://nf-icgc/Nextflow_outputs' //* @input @description:"S3 storage output"
}
